.App {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #fff;

  & > .container {
    height: calc(100% - 64px);
    overflow: auto;
    background-position:center;
  }
}
