.Answer {
  margin: 6px 50px;
  padding: 13px 50px;
  min-height: 82px;
  border-radius: 18px;
  font-weight: 600;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #F1F1F1;
  color: #0A619C;
  font-size:18px;
  position: relative;

  display:flex;
  flex-direction:column;
  justify-content:center;
  text-align: center;

  &:hover,
  &:focus,
  &:active {
    background-color: #E4E4E4;
  }
}
