.dock {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  width: 1000px;
  height: 112px;
  border-radius: 25px 25px 0 0;
  box-shadow:0px 2px 33px rgba(0,0,0,.19);
  padding: 4px 31px;
  margin:auto;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: initial;

  .dock__item {
    width: 125px;
    position:relative;
    padding-right: 23px;
    box-sizing: initial;
    margin-right: 21px;
    top: 7px;
    &:last-child {
      margin-right:0;
      padding-right:0;
    }

    p:nth-of-type(1) {
      font-weight:600;
      color:#333333;
      font-size:14px;
    }
    p:nth-of-type(2) {
      span {
        font-size:14px;
        display: block;
        font-weight:600;
        &:nth-of-type(1) {
          color: #B4B4B4;
          font-size: 10px;
          text-transform: uppercase;
        }
      }
    }
    &[class*="status_empty"] {
      p:nth-of-type(2) {
        span:nth-of-type(2) {
          color: #d4d4d4;
        }
      }
    }&[class*="status_ok"] {
      p:nth-of-type(2) {
        span:nth-of-type(2) {
          color: #80B759;
        }
      }
    }
    &[class*="status_warning"] {
      p:nth-of-type(2) {
        span:nth-of-type(2) {
          color: #DE8431;
        }
      }
    }

    &[class*="status_error"] {
      p:nth-of-type(2) {
        span:nth-of-type(2) {
          color: #D62929;
        }
      }
    }
    &[class*="flatline"] {

      @keyframes flatline-animation {
        0% {
          transform: scale(2);
          opacity:1
        }
        50% {
          transform: scale(2);
          opacity:1
        }
        100% {
          transform: scale(10);
          opacity:0
        }
      }
      @-webkit-keyframes flatline-animation {
        0% {
          transform: scale(2);
          opacity:1
        }
        50% {
          transform: scale(2);
          opacity:1
        }
        100% {
          transform: scale(10);
          opacity:0
        }
      }

      &:before {
        content: "";
        width: 7px;
        height: 7px;
        background: red;
        border-radius: 50%;
        position: absolute;
        top: 2px;
        left: -23px;
        right: 0;
        margin: auto;
        animation: flatline-animation 2s infinite;
      }
    }

    &:not(:last-child):after {
      content: "";
      border-right: 2px solid #F3F3F3;
      display: block;
      right: 0;
      position: absolute;
      top: 18px;
      height: 80px;
      width: 2px;
    }
  }
}

