.DragDrop {
  h1 {
    position: relative;
    margin-bottom: 60px;
    padding-right: 70px;
  }
}
.Droppable {
  border-bottom: 5px solid #bdbdbd;
  display: inline-block;
  color: #6f0;
}

ul.draggable-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  flex-wrap:wrap;

  > li {
    font-size:22px;
    margin-bottom: 20px;
    width: 80%;
    margin: 6px 50px;
    font-weight: 600;
    padding: 13px 20px;
    min-height: 93px;
    border-radius: 18px;
    background-color: #F1F1F1;
    border: 3px solid #333;
    cursor: pointer;

    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align: center;

    &:hover,
    &:focus,
    &:active {
      background-color: #E4E4E4;
    }
  }
}


// .DragDrop {
//   h1 {
//     position: relative;
//     margin-bottom: 60px;
//     padding-right: 70px;
//   }
// }
// .Droppable {
//   border-bottom: 5px solid #bdbdbd;
//   min-width: 140px;
//   height: 42px;
//   padding: 7px 10px;
//   position: absolute;
//   display: inline-block;
// }

// ul.draggable-list {
//   list-style-type: none;
//   padding: 0;
//   margin: 0;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   width: 50%;
//   margin: auto;
//   flex-wrap:wrap;

//   > li {
//     margin-bottom: 20px;
//     max-width: 49%;

//     div {
//       padding: 10px 20px;
//       border: 3px solid #bdbdbd;
//     }
//   }
// }
