.Popup {
  h2 {
    font-size: 1.6em;
    padding:15px 80px;
  }

  p {
    margin: 6px 50px 36px 50px;
    padding: 15px 90px;
    border-radius: 18px;
    font-weight: 600;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #F1F1F1;
    color: #0A619C;

    display:inline-block;


    &:hover,
    &:focus {
      background-color: #555;
      color: #FFF;
    }

    &:active {
      background-color: #333;
      color: #FFF;
    }
  }
}

