$responsive-size: 960px;
$text-color: #0A619C;

.Questions {
  flex: 1 0;
  font-style: normal;
  font-size: 1.2em;
  color: $text-color;
  margin: auto;
  max-width:900px;
  min-height: 200px;
  position:relative;

  background: white;
  border-radius: 25px;
  box-shadow:2px 2px 65px rgba(0,0,0, .19);

  @media (max-width: $responsive-size) {
    margin: 16px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin:25px 0;
  }

  h1 {
    margin: 0 auto;
    font-size: 22px;
    background-color: #3498DB;
    font-weight: 600;
    color: #fff;
    text-align: left;
    padding: 34px 50px 30px 50px;
    border-radius: 25px 25px 0 0;
  }
  button {
    margin: 6px 50px 36px 50px;
    padding: 15px 90px;
    border-radius: 18px;
    font-weight: 600;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #F1F1F1;
    color: #0A619C;
    border: 0;
    font-size: 16px;
    font-family:$main-font-stack;

    display:inline-block;


    &:hover,
    &:focus {
      background-color: #555;
      color: #FFF;
    }

    &:active {
      background-color: #333;
      color: #FFF;
    }
  }
}
