$responsive-size: 960px;

.QuestionsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: calc(100vh - 64px);

  @media (max-width: $responsive-size) {
    flex-direction: column-reverse;
  }
}

.bloed {
  background-image:url("../img/ziekenhuis/bloed2.png");
  background-position: center;
}
