$responsive-size: 960px;

.notesTimelineSwitch{
  flex: none;
  width: 300px;
  min-height: 450px;
  padding: 0 16px 16px 16px;
  background-color: #fff;
  color: #3498DB;
  margin: 50vh 0 auto 0;
  border-radius: 0 25px 25px 0;
  box-shadow:0px 2px 33px rgba(0,0,0,.19);
  position: fixed;
  left: 0;
  -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
  overflow: scroll;
}


.tabjes{
  @include displayFlex(row, space-around);
  border-bottom: 2px solid #F3F3F3;

  div{
    width: 45%;
    height: 10%;
    padding: 15px;
    margin: 0;

    &:hover{
      background-color: #d4d4d4;
      cursor: pointer;
    }
  }
}

.Tijdlijn {
  overflow: scroll;
  background-color: #fff;
  color: #3498DB;
  width: 300px;
  display: block;


  li{
    list-style: none;
    border-bottom: 2px solid #F3F3F3;
    padding: 15px 5px;
  }

  @media (max-width: $responsive-size) {
    width: auto;
    margin: 16px;
  }
}

.Notes{
  display: none;

  li{
    @include displayFlex(row, space-around);
    padding: 10px 0 10px 10px;
    margin-bottom: 15px;
    background-color: #F3F3F3;
    border-radius: 10px;
    box-shadow:0px 1px 3px rgba(0,0,0,.15);
    box-sizing: border-box;
  }

  .deleteBtn{
    margin: 0;
    padding: 0;
    width: 40px;
    height: 20px;

    &:hover{
      background-color: #555;
      color: #FFF;
      cursor: pointer;
    }
  }

  .editingNote{
    padding: 15px 45px;
    border-radius: 18px;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid #F1F1F1;
    color: #3498DB;
  }

  p{
    padding: 15px 45px;
    border-radius: 18px;
    font-weight: 600;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #F1F1F1;
    color: #0A619C;
    display: inline-block;

    &:hover{
      background-color: #555;
      color: #FFF;
    }
  }
}

::-webkit-scrollbar {
  display: none;
}
