@import 'abstracts/_mixins.scss';

.Navbar {
  display: block;
  background-color: #3498DB;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;
  padding: 16px;

  h2 {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: white;
  }

  .hamburger-btn {
    display: inline-block;
    float: right;
    margin: -8px;
    padding: 8px;
    cursor: pointer;
    border-radius: 3px;
  }

  .hamburger-btn:hover,
  .hamburger-btn:focus {
    background-color: #ff69b4;
  }

  .menu-open {
    position: fixed;
    display: none;
    background-color: #4C6578;
    color: #fff;
    top: 64px;
    right: 0;
    height: 200px;
    width: 200px;
    @include box-shadow(2px, 2px, 2px, #222, false)
  }
}
