.Questions {
  font-style: italic;
  font-size: 1em;
  color: #000;
  box-sizing: border-box;
  background-color: #eee;
  padding: 0 0 30px 0;
}

.Questions ul {
  list-style-type: none;
  padding: 0;
}

.Questions h1 {
  margin: 16px  auto 50px;
  width: 80%;
}
