$responsive-size: 960px;

.Questions {
  flex: 1 0;
  font-style: italic;
  font-size: 1.2em;
  color: #000;
  margin: 32px 32px 32px 0;

  @media (max-width: $responsive-size) {
    margin: 16px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  h1 {
    margin: 0 auto;
    font-size: 1.5em;
    padding: 16px 0;
  }
}
