.Questions {
  flex: 1 0;
  font-style: italic;
  font-size: 1.2em;
  color: #000;

  ul {
    list-style-type: none;
    padding: 0;
  }

  h1 {
    margin: 0 auto;
    width: 80%;
    font-size: 1.5em;
    padding: 16px 0;
  }

}
